<div class="row" >
    <div class="col-md-9">
            
            <h3 class="mdb-color-text darken-4">{{test.name}} </h3>
            <hr>
            <p class=" blue-grey-text  lighten-1">{{ test.questions.length + ' '}} Questions</p>
            <p class=" blue-grey-text  lighten-1">{{ test.duration + ' '}} minutes</p>
    </div>
    <div class="col-md-3  ">
            

            <a ng-if='testsCtrl.isAdminUser' ng-href="#!/tests/{{test._id}}" class="waves-effect waves-light btn teal accent-3  pull-right">View</a>
            
        
    </div>
   
</div>

